<div class="catalogue-container">

  <!-- FILTRES -->
  <div class="filters">

    <input type="number" placeholder="Prix min"
           [(ngModel)]="filters.prixMin">

    <input type="number" placeholder="Prix max"
           [(ngModel)]="filters.prixMax">

    <select [(ngModel)]="filters.sortBy">
      <option value="date">Plus récents</option>
      <option value="prix">Prix</option>
      <option value="vues">Popularité</option>
    </select>

    <select [(ngModel)]="filters.order">
      <option value="desc">Desc</option>
      <option value="asc">Asc</option>
    </select>

    <button (click)="applyFilters()">Filtrer</button>

  </div>

  <!-- LOADING -->
  <div *ngIf="loading" class="loading">
    Chargement...
  </div>

  <!-- PRODUITS -->
  <div class="grid" *ngIf="!loading">

    <div class="card" *ngFor="let produit of produits">

      <!-- <img [src]="produit.images?.[0] || 'assets/no-image.jpg'"> -->

      <h3>{{ produit.nom }}</h3>

      <p>{{ produit.description }}</p>

      <!-- <div class="price">
        {{ produit.variantes?.[0]?.prix | currency:'MGA ' }}
      </div> -->

      <button [routerLink]="['/produits', produit._id]">
        Voir détail
      </button>

    </div>

  </div>

  <!-- PAGINATION -->
  <div class="pagination" *ngIf="pages > 1">
    <button *ngFor="let p of [].constructor(pages); let i = index"
            (click)="changePage(i+1)"
            [class.active]="filters.page === i+1">
      {{ i + 1 }}
    </button>
  </div>

</div>