<h2>Inscription</h2>

<input type="text" placeholder="Nom" [(ngModel)]="nom">
<input type="text" placeholder="Prenom" [(ngModel)]="prenom">
<input type="text" placeholder="Telephone" [(ngModel)]="telephone">
<select [(ngModel)]="role" id="">
    <option value="client">Client</option>
    <option value="boutique">Boutique</option>
    <option value="admin">Admin</option>
</select>
<input type="email" placeholder="Email" [(ngModel)]="email">
<input type="password" placeholder="Mot de passe" [(ngModel)]="motDePasse">

<button (click)="signup()">S’inscrire</button>

<p style="color:red">{{ error }}</p>
