
*{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title {
   color: #2412e9;
   font-size: 28px;
   margin-bottom: 10px;
}

.welcome {
   color: #555;
   font-size: 16px;
}
